<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echowaves.android" >

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:name=".model.ApplicationContextProvider"
        >

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:background="@android:color/white"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".NavigationTabBarActivity"
            android:label="@string/title_activity_navigation_tab_bar"
            >
        </activity>
        <!--<activity-->
            <!--android:name=".WavingTabFragment"-->
            <!--android:label="@string/title_activity_waving" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".EchoWaveTabFragment"-->
            <!--android:label="@string/title_activity_echo_wave" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".BlendsTabFragment"-->
            <!--android:label="@string/title_activity_blends" >-->
        <!--</activity>-->
    </application>

</manifest>
